#Container
{
    display: block;
    position: relative;
    margin: auto;
    background-color: black;
    
}
#ContainerTobottom
{
    position: absolute;    
    bottom: 0;
}
.Lane{
    display: inline-block;
    width: 20px;
    height: 220px;
    background-color: blue;
   
    
    
    
}
.spacer{
    display: inline-block;
    width:10px;
    height: 1px;
    
    position: absolute;    
    bottom: 0;
    background-color: black;
}
.Lane{
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    }
#ButtonContainer
{
 margin:auto;
 width: 50%;
 margin-top: 20px;
}
#CurrentSpeed
{
   
    padding-left: 20px;
    padding-right: 20px;    
}